<!DOCTYPE html>
<html>

<head>
  <title>
    {% block title %}
    Welcome!
    {% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="{{ absolute_url('images/favicon.png') }}" />
  {% block stylesheets %}
  	{{ encore_entry_link_tags('app') }}
{# <link rel="stylesheet" href="{{ asset('/css/bootstrap/bootstrap.min.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{ asset('/bundles/mercuryseriesflashy/css/flashy.css') }}">
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'> #}
  {% endblock %}
</head>

<body>
  {% block body %}
        {% block menu %}
        {{ render(url('menu_liste')) }}
        {% endblock %}



  {% endblock body%}



{% block footer %}

	<footer>

<div id="sticky-footer" class="py-4 bg-dark text-white-50">
	<div class="container text-center">
		<small>Copyright &copy; symfony company</small>
<div class="container">
	<div class="row">
		<div id="footer-copyright" class="col-md-6">
			<p>&copy;
				{{ 'now'|date('Y') }}
				- The Symfony Project</p>
		</div>
		<div id="footer-resources" class="col-md-6">
			<p>
				<a href="https://twitter.com/symfony" title="Symfony Twitter">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
				<a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="https://symfony.com/blog/" title="Symfony Blog">
					<i class="fa fa-rss" aria-hidden="true"></i>
				</a>
			</p>
		</div>
	</div>
</div>


	</div>
</div>
{% endblock footer %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	<!-- Flashy depends on jQuery 
	// <script src="//code.jquery.com/jquery.js"></script>
	// Load Flashy default JavaScript -->
	// <!-- <script src="{{ asset('/bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
	// <script src="{{ asset('/js/jquery.min.js') }}"></script>
	// <script src="{{ asset('/js/popper.min.js') }}"></script>
	// <script src="{{ asset('/js/bootstrap.min.js') }}"></script> -->
{% endblock %}



</body>
</html>
